{% include 'admin_header.html' %}

<h1>Customers List</h1>
  <table align="center">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <!-- Populate the table rows with customer data -->
      {%for i in customers%}
      <tr>
        <td>{{i.first_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.gender}}</td>
        <td>{{i.dob}}</td>
        <td>{{i.phone}}</td>
        <td>{{i.email}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

  {% include 'footer.html' %}