{%include 'stationmaster_header.html'%}

    <div class="station-info">
      <h2>Station Information</h2>
      <!-- Display station information here -->
        <p> Place Name: {{placename}} </p>
        <p><a class="btn btn-success" href="http://www.google.com/maps?q={{ q.latitude }},{{ q.longitude }}">View Location On Map</a></p>
    </div>
    <div class="bus-schedule">
      <h2>Bus Schedule</h2>
      <!-- Display bus schedule here -->
      <table class='reserve-home'>
        <thead>
          <tr>
            <th>Bus</th>
            <th>Trip Date </th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Source</th>
            <th>Destination</th>
          </tr>
        </thead>
        <tbody>
          <!-- Populate the table rows with bus schedule data -->
          {%for i in trp%}
          <tr>
            <td>{{i.bus.bus_name}} --Reg No:({{i.bus.registration_number}})</td>
            <td> {{i.trip_date}}</td>
            <td>{{i.starting_time}}</td>
            <td>{{i.ending_time}}</td>
            <td>{{i.route.starting_place.place_name}}</td>
            <td>{{i.route.ending_place.place_name}}</td>
          </tr>
          {%endfor%}
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
    <div class="reservation-container">
      <h1>{{placename}} Station Reservation</h1>
      <div class="reservation-list">
        <h2>Reservation List</h2>
        <table class='reserve-home'>
          <thead>
            <tr>
              <th>Reservation ID</th>
              <th>Customer Name</th>
              <th>Trip Details</th>
              <th>Bus </th>
              <th>Arrival Time</th>
              <th>No. of Seats</th>
              <th>Reservation Status</th>
            </tr>
          </thead>
          <tbody>
            <!-- Populate the table rows with reservation data -->
            
              {% for i in res%}
              <tr>
                <td>{{i.id}}</td>
                <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                <td>Trip - {{i.from_stop.place.place_name}} to {{i.to_stop.place.place_name}}</td>
                <td>{{i.trip.bus.bus_name}} RegNo:({{i.trip.bus.registration_number}}) </td>
                <td>{{i.from_stop.time}} </td>
                <td>{{i.no_of_seats}}</td>
                <td>{{i.reservation_status}}</td>
              </tr>
              {%endfor%}
              

              
            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </div>
      <div class="reservation-details">
        <h2>Reservation Details</h2>
        <!-- Display reservation details for selected reservation -->
      </div>
    </div>
    <div class="notifications">
      <h2>Notifications</h2>
      <!-- Display notifications here -->
    </div>
  </div>

{% include 'footer.html'%}
